:root {
    --main-colour: #FFFFFF;     /*"#FFFFFF", "#F7F4E8", ""*/
    --accent-colour: #1C0F13;   /*"#1C0F13", "#383947", ""*/
    --default-font: 'Ubuntu Mono', monospace;
}
body {margin: 0; background: var(--main-colour); height: 100vh;}
a {color: var(--main-colour); font-family: var(--default-font); display: block; text-decoration: none;}
/*---------------------------<Navbar>---------------------------*/
.navbar {
    width: 250px;
    height: 100vh;
    background: var(--accent-colour);
    position: fixed;
}
.navbar .title {
    color: var(--main-colour);
    font-family: var(--default-font);
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    line-height: 1em;
    padding: 29px 0;
}
.navbar .button-container {
    border-top: 1px dashed var(--main-colour);
}
.navbar .button-container .button {
    padding: 10px;
    border-bottom: 1px dashed var(--main-colour);
    background: rgba(255,255,255,0.1);
}
/*----------------------------<Main>----------------------------*/
.main {
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 0;
    top: 0;
    position: absolute;
}
/*-----------------------<About-contents>-----------------------*/
.main .about-contents {
    display: block;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0 0 0;
    min-height: calc(100% - 40px - 20px);
}
.main .about-contents .profile-container {
    max-width: 1000px;
}
.main .about-contents .profile-container .profile {
    display: block;
    margin: 20px auto;
    width: 300px;
    background: rgba(0,0,0,0.1); 
}
.main .about-contents .profile-container .description {
    color: var(--accent-colour);
    font-family: var(--default-font);
    text-align: center;
    padding: 0 0 20px 0;
    margin: 0 20px;
    font-style: italic;
}
.main .about-contents .profile-container .description::before {
    content: " ";
    width: 100px;
    height: 1px;
    background: var(--accent-colour);
    position: absolute;
    display: block;
    transform: translate(80px, -10px);
}
.main .about-contents .profile-container .profile .headicon {
    width: 70%;
    height: 70%;
    border-radius: 1000px;
    margin: auto;
    padding: 20px;
    display: block;
    -webkit-user-drag: none;
}
.main .about-contents .heading-container {
    max-width: 1000px;
    background: rgba(0,0,0,0.1);
}
.main .about-contents .heading-container h1 {
    color: var(--accent-colour);
    font-family: var(--default-font);
    text-align: left;
    padding: 50px 20px 20px 20px;
    margin: 20px;
}
.main .about-contents .heading-container h1 #type {
    animation: blink 0.7s ease 0s 3;
}
.main .about-contents .heading-container .description {
    color: var(--accent-colour);
    font-family: var(--default-font);
    text-align: left;
    padding: 0 0 20px 0;
    margin: 0 40px;
}
/*----------------------<Project-contents>----------------------*/
.main .project-contents {
    display: flex;
    padding: 10px 0 0 0;
    margin: 0 0 0 10px;
    min-height: calc(100% - 30px);
    align-content: center;
    justify-content: center;
}
.main .project-contents .center {
    display: flex;
    margin: auto;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.main .project-contents .center .heading-container {
    background: rgba(0,0,0,0.1);
    margin: 10px;
    width: 420px;
/*    min-width: 320px;*/
    display: block;
    max-height: 500px;
}
.main .project-contents .center .heading-container .image-container {
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 0px 0 4px rgba(0,0,0,0.1)
}
.main .project-contents .center .heading-container .image-container .image1 {background-image: url(../images/alex-moorse-art.png);}
.main .project-contents .center .heading-container .image-container .image2 {background-image: url(../images/hedgehog-php-sql.png);}
.main .project-contents .center .heading-container .image-container .image3 {background-image: url(../images/games-java.png);}
.main .project-contents .center .heading-container .image-container .example {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.main .project-contents .center .heading-container h1 {
    font-size: 1.5em;
    color: var(--accent-colour);
    font-family: var(--default-font);
    text-align: center;
    padding: 0;
    margin: 20px;
}
.main .project-contents .center .heading-container .description {
    color: var(--accent-colour);
    font-family: var(--default-font);
    text-align: left;
    padding: 0 20px 20px 20px;
    margin: 20px;
}
/*----------------------<Contact-contents>----------------------*/
.main .contact-contents {
    display: block;
    max-width: 1000px;
    margin: auto;
    padding: 20px 0;
    min-height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-content: center;
}
.main .contact-contents .heading-container {
    width: 100%;
    max-width: 1000px;
    background: rgba(0,0,0,0.1);
    margin: auto;
}
.main .contact-contents .heading-container h1 {
    color: var(--accent-colour);
    font-family: var(--default-font);
    text-align: left;
    margin: 20px 40px;
}
.main .contact-contents .heading-container .description {
    color: var(--accent-colour);
    font-family: var(--default-font);
    text-align: left;
    margin: 0 40px 20px 40px;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}
.main .contact-contents .heading-container .description:hover .tooltip {
    visibility: visible;
}
.main .contact-contents .heading-container .description .tooltip {
    visibility: collapse;
    color: var(--accent-colour);
    font-family: var(--default-font);
    text-align: center;
    position: absolute;
    background: var(--main-colour);
    padding: 5px;
    transform: translate(100px, -55px)
}
.main .contact-contents .heading-container .description .tooltip::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--main-colour);
    transform: translate(14px, 20px);
}
/*--------------------------<Seperator>-------------------------*/
.seperator {
    position: relative;
    width: 100%;
    height: 34px;
    margin: 20px 0 0 0;
    background: var(--accent-colour);
}
/*--------------------------<Animation>-------------------------*/
@keyframes blink {
    0%      {opacity: 1;}
    50%     {opacity: 0;}
    100%    {opacity: 1;}
}